{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Profile{% endblock %}

{% block body %}

<section class="flex flex-col w-full">
<div class="flex flex-col justify-center items-center w-full h-full py-24 md:py-32 px-10 md:px-16 gap-5">
    <div class="flex justify-center items-center gap-10">
        <div class="flex w-24 h-24 text-4xl">
        {% if user.avatar %}
            <img src="{{ user.avatar }}" alt="avatar">
            {% else %}
            {{include('components/_slice_username.html.twig')}}
        {% endif %}

        </div>
        <h1 class="text-3xl font-bold">
        {{user.username}}
        </h1>
    </div>
    <div class="flex gap-4">
        <div class="border border-neutral-400 px-7 py-2 rounded-full cursor-not-allowed text-neutral-400" aria-disabled="true">edit Profile</div>
        <a href="{{ path('app_settings', {'id': user.id}) }}" class="bg-purple-200 text-purple-950 px-7 py-2 rounded-full font-medium font-doto">SETTINGS</a>
    </div>
</div>

<div class="profile-tabs mb-6 px-10">
    <ul class="flex gap-4 justify-center md:justify-start">
        <li class="{{ activeTab == 'created' ? 'text-blue-500' : '' }}">
            <a href="{{ path('app_profile_with_tab', {'id': user.id, 'tab': 'created'}) }}" class="py-2 px-4 flex gap-4 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 512 512" fill="currentColor"><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg>
            </a>
        </li>
        <li class="{{ activeTab == 'liked' ? 'text-blue-500' : '' }}">
            <a href="{{ path('app_profile_with_tab', {'id': user.id, 'tab': 'liked'}) }}" class="py-2 px-4 flex gap-4 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 512 512" fill="currentColor">
                <path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/>
                </svg>
            </a>
        </li>
        <li class="{{ activeTab == 'favorites' ? 'text-blue-500' : '' }}">
            <a href="{{ path('app_profile_with_tab', {'id': user.id, 'tab': 'favorites'}) }}" class="py-2 px-4 flex gap-4 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 384 512" fill="currentColor">
                <path d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/>
                </svg>
            </a>
        </li>
    </ul>
</div>

<div class="posts-container">
    {% if posts|length > 0 %}
            {{ include('posts/index.html.twig') }}
    {% else %}
        <p class="text-center py-8">Aucun post à afficher dans cette section.</p>
    {% endif %}
</div>
</section>
{% endblock %}
