{{ form_start(form) }}
<article class="w-full flex flex-col gap-10">
    <header class="flex flex-col md:items-center w-full gap-5 md:gap-20">
        <div class="flex items-center">
            {{include('posts/_author.html.twig', {profileFromShowPost: true})}}
        </div>
        <div class="w-full">
            {{ form_widget(form.title, {'attr': {'class': 'w-full rounded-md border-0 outline-none focus:outline-none focus:border-0 hover:border-0 active:border-0 text-4xl md:text-6xl font-bold', 'placeholder': 'Enter title here...'}}) }}
            {{ form_errors(form.title) }}
        </div>
    </header>

    <main class="w-full flex flex-col gap-10">
        <section class="description w-full">
            {{ form_widget(form.description, {'attr': {'class': 'w-full rounded-md border-0 outline-none focus:outline-none focus:ring-0 focus:border-0 hover:border-0 active:border-0 font-light text-lg md:text-2xl', 'placeholder': 'Write a brief description...'}}) }}
            {{ form_errors(form.description) }}
        </section>

        <div class="w-full flex flex-col items-center gap-2">
            <div class="w-full">
                {{ form_widget(form.category, {'attr': {'class': 'w-full bg-gray-300 rounded-xl focus:outline-none focus:ring-0 focus:border-0 px-4 py-2 rounded-md outline-none hover:border-0 active:border-0'}}) }}
                {{ form_errors(form.category) }}
            </div>

            <figure class="shadow-md rounded-2xl overflow-hidden h-[600px] w-full flex justify-center items-center relative">
                {{ form_widget(form.imageFile, {'attr': {'class': 'absolute inset-0 opacity-0 cursor-pointer z-10', 'onchange': 'previewImage(this)'}}) }}
                <div id="image-preview-placeholder" class="flex flex-col items-center justify-center w-full h-full bg-gray-100">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-gray-400" viewBox="0 0 512 512 " fill="currentColor"><path d="M0 96C0 60.7 28.7 32 64 32l384 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6l96 0 32 0 208 0c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>
                    <p class="mt-2 text-sm text-gray-500">Click to select an image</p>
                </div>
                <img id="image-preview" class="hidden w-full h-full object-cover" />
                {{ form_errors(form.imageFile) }}
            </figure>

            <p class="self-end font-noto italic text-sm">
                This article will be create by you
                <span class="font-bold">{{ app.user.username|default('Unknown') }}</span> today the
                {{ "now"|date('D d M Y') }}.
            </p>
        </div>

        <section class="content w-full">
            {{ form_widget(form.content, {'attr': {'class': 'w-full px-4 py-2 rounded-md h-64 outline-none focus:ring-2 focus:ring-blue-300 focus:bg-gray-50', 'placeholder': 'Write your content here...'}}) }}
            {{ form_errors(form.content) }}
        </section>
    </main>

    <div class="w-full flex justify-end">
        <button class="bg-black hover:bg-neutral-600 text-white font-medium py-3 px-6 rounded-full text-xl transition-colors focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
            {{ button_label|default('Save') }}
        </button>
    </div>


</article>

{{ form_end(form, {'render_rest': true}) }}

<script>
    function previewImage(input) {
        const preview = document.getElementById('image-preview');
        const placeholder = document.getElementById('image-preview-placeholder');

        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.classList.remove('hidden');
                placeholder.classList.add('hidden');
            };

            reader.readAsDataURL(input.files[0]);
        } else {
            preview.classList.add('hidden');
            placeholder.classList.remove('hidden');
        }
    }
    </script>
