<section class="form w-80 xs:w-96 flex flex-col gap-4 md:gap-6">
    <h3 class="text-2xl font-semibold">Login to Blendsk</h3>

    <form method="post" class="flex flex-col gap-6">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <label for="username">Email</label>
    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control w-full p-3 rounded-xl border border-gray-300 md:px-5 md:py-4 " autocomplete="email" required autofocus>
    <label for="password">Password</label>
    <input type="password" name="_password" id="password" class="form-control w-full p-3 rounded-xl border border-gray-300 md:px-5 md:py-4" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <button class="btn btn-lg btn-primary w-full text-center text-white rounded-full overflow-hidden bg-black p-5" type="submit">
        Sign in
    </button>
  </section>
