{% extends 'base.html.twig' %} {% block title %}Login - Secure Access to Your
Account{% endblock %} {% block meta %}
<meta
  name="description"
  content="Login to access your account securely. Join our workspace management platform."
/>

{% endblock %}
{% block body %}
<section class="min-h-screen min-w-full bg-bk flex flex-col justify-between">
  <header class="absolute w-full flex p-5 justify-between items-center">
    <a href="{{ path('app_home') }}">
      <img
        src="{{ asset('img/dark_logo.svg') }}"
        alt="Company Logo"
        class="w-10"
        width="40"
        height="40"
      />
    </a>
    <span
        class="mx-3 decoration-2 font-medium md:hidden"
      >
        <a href="{{ path('app_register') }}">Create your account here ></a>
      </span>
  </header>

  <main class="w-full flex max-md:justify-center max-md:items-center flex-grow max-md:flex-col py-20 md:py-28 px-10 md:px-16 gap-10" >
    <h1 class="md:w-1/4 text-6xl md:text-8xl font-bold">Sign in</h1>
    <div class="md:w-3/4 flex justify-center items-center">
      {{ include("security/_form.html.twig") }}
    </div>
  </main>

  <footer class="block w-full p-5 max-md:hidden">
    <p>
      No account yet? Join us to transform your workspace.
      <span
        class="mx-3 underline underline-offset-4 decoration-wavy decoration-2 font-medium"
      >
        <a href="{{ path('app_register') }}">Create your account</a>
      </span>
    </p>
  </footer>
</section>
{% endblock %}
