{% extends 'base.html.twig' %}

{% block title %}Likes index{% endblock %}

{% block body %}
    <h1>Likes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for like in likes %}
            <tr>
                <td>{{ like.id }}</td>
                <td>{{ like.createdAt ? like.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ like.updatedAt ? like.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {% if app.user and like.user == app.user %}
                        {{ include('likes/_delete_form.html.twig') }}
                    {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_likes_new') }}">Create new</a>
{% endblock %}
