
<h2>Commentaires</h2>

{% if app.user %}

    <section class="comment-form">
        <h3>Ajouter un commentaire</h3>
        <form action="{{ path('app_comments_new', { id: post.id }) }}" method="post">
            <textarea
                name="content"
                required
                placeholder="Écrire votre commentaire"
            ></textarea>
            <button type="submit">Comment</button>
        </form>
    </section>

    <section class="comments-list">
        {% if post.comments|length > 0 %}
            {% for comment in post.comments %}
                <article class="comment">
                    <header>
                        <strong>{{ comment.user.username }}</strong> a commenté :
                    </header>
                    <p class="comment-content">{{ comment.content }}</p>
                    <p class="comment-date">Posté le {{ comment.createdAt|date('d/m/Y H:i') }}</p>

                    <div class="comment-actions">

                        {% if app.user == comment.user or is_granted('ROLE_ADMIN') %}
                        {{include('comments/_delete_form.html.twig', {'comment': comment})}}
                        {% endif %}
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <p>Aucun commentaire pour ce post.</p>
        {% endif %}
    </section>
{% else %}
    <p>Vous devez être connecté pour commenter.</p>
{% endif %}
